@page "/"

<PageTitle>Index</PageTitle>


<p>
    Skapa 100 checkboxar dynamiskt (med en loop). 
    När jag trycker på checkbox nummer 12 så ska alla checkboxar markeras.
    När jag trycker på checkbox nummer 25 så ska alla checkboxar som är checkade avmarkeras.

    När jag trycker på checkbox nummer 100 så ska en text skrvias ut någonstans på sidan, där det står "Jag är texten utanför boxen".
</p>






@code{

}
