@page "/"

<PageTitle>Index</PageTitle>


<p>
    När jag klickar på Igelkotten-knappen ska denna inaktiveras och Hönan ska bli aktiv.

    När jag klickar på Hönan ska denna inaktiveras och Katten ska bli aktiv.

    När jag klickar på katten så blir alla knappar aktiva.
</p>

<button>Igelkotten</button>
<button disabled>Hönan</button>
<button disabled>Katten</button>


@code{

}
